[Unit]
Description=Routing
After=network.target docker.service
Requires=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/make -f /etc/routing/iptables/Makefile start
ExecStop=/usr/bin/make -f /etc/routing/iptables/Makefile stop

[Install]
WantedBy=default.target
